@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    color: #1f1f1f;
    background-color: #f7f7f7;
    transition: 0.4s;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* -------Header------- */
  .navbar-dark {
    background: #fff;
    border-bottom: 1px solid #ededed;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
    height: 60px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1002;
  }
.navbar-nav .nav-item .menu{
    color: #333;
    font-size: 15px;
    line-height: 50px;
    height: 60px;
}
.navbar-nav .nav-item .menu:hover{
    color: #333;
    font-size: 18px;
    line-height: 50px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar-nav .nav-item .menu.active{
    color: #333;
    font-size: 18px;
    line-height: 50px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    float: right;
}
.collapse.show {
    display: block;
    background: aliceblue;
    text-align: center;
}
.collapsing{
    display: block;
    background: aliceblue;
    text-align: center;
}
.navbar-toggler{
    position: fixed;
    right: 20px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
/* -------NoiDung------- */
.tieuDeTrang{
    color: #1f1f1f;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
}
/* -------Breadcrumb------- */
.breadcrumb{
    background-color: #f7f7f7;
    font-weight: 700;
    padding: 0;
}
.breadcrumb-item a{
    color: #333;
}
.breadcrumb-item a:hover{
    color: #333;
    text-decoration: none;
}

/* -------Profile CARD------- */
.profile-card{
    display: block;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
    transition: 0.4s;
}
.profile-img{
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    margin: 0 auto;
    position: relative;
    width: 80px;
   
}
.profile-card:hover{
   transform: scale(1.05);
}
.user-name {
    color: #333;
    font-size: 18px;
}
.user-bio{
    color: #8e8e8e;
    font-weight: 500;
}
/* -------Profile View ChiTiet------- */
.card-view{
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
    align-items: center;
    transition: 0.4s;
}
.profile-view-img{
    display: flex;
    justify-content: center;
}
.profile-view-img img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
ul li{
    list-style: none;
}
ul li .title{
    color: #4f4f4f;
    font-weight: 500;
    margin-right: 10px;    
}
ul li .text{
    color: #8e8e8e;
}